#name_banner{
	background-image:linear-gradient(110.66826971542821deg, rgba(230, 170, 227,1) 5.911420204978038%,rgba(239, 175, 164,1) 95.95534407027817%);
	letter-spacing:5px;
	text-align:center;
}