#name_banner{
	background-image:linear-gradient(110.66826971542821deg, rgba(230, 170, 227,1) 5.911420204978038%,rgba(239, 175, 164,1) 95.95534407027817%);
	letter-spacing:5px;
	text-align:center;
}

table{
		margin-left: 14rem;
	}
	td{
		font-size: 3rem;
		padding-right: 10rem;
		letter-spacing: 3px;
		margin-right: 2rem;
		border: 1px solid black;
	}
	.list_heading{
		background-image: linear-gradient(110.66826971542821deg, rgba(247, 238, 147,1) 5.911420204978038%,rgba(234, 220, 34,1) 95.95534407027817%);
	}